{% extends 'base.html' %}

{% block title %}
    <title>About us</title>
{% endblock %}

{% block body %}
<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">"Sneakers BOOM" is one of the best sneakers store in the world!</h1>
      <div class="col-lg-10 mx-auto">
        <p class="fs-5 mb-10">
            Sneakers BOOM! is a store of sports shoes from well-known sports and lifestyle brands: Nike, Jordan, Adidas, Asics, Puma.
The collection is constantly expanding. We offer you only high-quality shoes, because we are responsible for our brand. The store accepts orders that you can pick up yourself.
In our store you can buy shoes for both running and everyday life. The products are only original and constantly updated. In the catalog you can find sneaker care products: shampoos, creams, brushes.
Shop Sneakers BOOM! it is stylish and practical. We have a lot of positive feedback from customers. We always work only for them. There is a system of discounts for regular customers. If desired, customers can issue a customer discount card to use bonuses.
Our team consists of only professionals in their field. Any advice can be obtained from store employees or managers by phone.
We will promptly deliver your order to any city in Belarus. Discounts for regular customers. Promotions every month. Be with us.
Please note that the discount in the Store does not apply to goods for delivery!
        </p>
      </div>
    </div>
  </div>

{% endblock %}